{
  "env": {
    "development": {
      "presets": [["env", { "modules": false }]],
      "plugins": [
        "add-module-exports"
      ]
    },
    "test": {
      "presets": ["env"],
      "plugins": [
        "add-module-exports"
      ]
    }
  }
}
