{
  "env": {
    "development": {
      "presets": [["env", { "modules": false }]]
    },
    "test": {
      "presets": ["env"]
    },
    "cjs": {
      "presets": [["env"]],
      "ignore": ["__tests__"]
    },
    "es": {
      "presets": [["env", { "modules": false }]],
      "ignore": ["__tests__"]
    }
  }
}
